/* src/components/ContactForm.css */
.contact-form {
    margin: 50px 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    
  }
  
  .contact-form h2 {
    font-size: 1.5em;
    color: #FFE5D8;
    margin: 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .contact-form input {
    padding: 10px;
    font-size: 2.6vw;
    border: 1px solid #ced4da;
    border-radius: 4px;
    
  }

  
  button {
    background: linear-gradient(to bottom, #30a0fc, rgb(0, 121, 181)); /* Gradient background */
    border: none; /* Remove the default border */
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 5px; /* Optional: Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    direction: rtl; /* Right-to-left text direction */
    font-size: 3vw;
  }
