/* src/components/Description.css */
.description {
  /* margin makes gap in content */
    /* margin: 40px 0;  */
    padding: 2vw;
    background-color: #25282c;
    border-radius: 8px;
  }
  
  .description h3 {
    font-size: 4vw;
    color: #007bff;
  }
  
  .description p {
    font-size: 2vw;
    color: #6c757d;
    line-height: 1.6;
    font-weight: bold;
  }
  