/* src/components/Gallery.css */
.gallery {
    margin: 40px 0;
    padding: 20px;
    background-color: #181b1f;
    border-radius: 8px;
  }
  
  .gallery h2 {
    font-size: 2vw;
    color: #007bff;
  }
  
  .image-container-container {
    background: linear-gradient(to bottom, rgba(154, 154, 154, 0.4), rgba(255, 255, 255, 0.6));
    border-radius: 8vw;
    padding: 3vw;
  }
  .image-container {
    display: flex;
    justify-content: center;
    gap: 2vw; 
  }
  
  .image-container img {
    width: 18vw;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  