/* src/components/Header.css */
.header {
    background-color: #1c1d1e;
    /* padding: 20  px; */
    border-bottom: 1px solid #edefe9;
    display: flex;
  align-items: center;
  padding: 1vw 1vw;
  }

  .header-logo {
    width: 12vw; 
    /* margin-right: 10px; Optional: Adjust spacing */
  }

  .header-content {
    flex: 1; /* Ensures the content takes remaining space */
    /* flex-shrink: initial; */
    /* white-space: 'no-wrap' */
  }
  
  .header h1 {
    margin: 0;
    font-size: 6vw;
    color: #fff9df;
    font-weight: bolder;
  }
  
  .header p {
    /* margin: 0; */
    /* font-size: 1.2em; */
    /* color: #6c757d; */
    margin: 0;
    font-size: 2vw;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(255, 169, 9), rgb(255, 255, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  