/* src/components/Header.css */
.header {
    /* background-color: #1c1d1e; */
    border-bottom: 1px solid #edefe9;
    display: flex;
  align-items: center;
  padding: 1vw 1vw;
  }

  .header-logo {
    width: 12vw; 
    border-radius: 20%;
  }

  .header-content {
    flex: 1; /* Ensures the content takes remaining space */
  }
  
  .header h1 {
    margin: 0;
    font-size: 6vw;
    font-weight: bolder;
    background: linear-gradient(90deg, rgb(255, 169, 9), rgb(255, 255, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    color: #FFE5D8;
  }
  